<!DOCTYPE html>
<html>
<head>
  <title>Country Checker</title>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
  <script>
    $( function() {
    var availableCountries =
      {{.Countries}} ;
    $( "#countries" ).autocomplete({
      source: availableCountries
    });

    var availableCapitals =
      {{.Capitals}};
    $( "#capitals" ).autocomplete({
      source: availableCapitals
    });

  } );
  </script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">

</head>
<body>
<div>
  <form method="POST" action="/">
         <div class="ui-widget">
           <label for="countries">Country Name</label>
           <input name="name" id="countries" autofocus>
           <label for="capitals">Capital Name</label>
           <input name="city" id="capitals">
           <input type="submit" value="submit" />
         </div>
  </form>
</div>
</body>
</html>
