<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Capitals Checker</title>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
  <script>
    $( function() {
    var availableCountries =
      {{.Countries}};
    $( "#countries" ).autocomplete({
      source: availableCountries
    });

    var availableCapitals =
      {{.Capitals}};
    $( "#capitals" ).autocomplete({
      source: availableCapitals
    });
  } );
  </script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
  <style>
  html, body {
      height: 100%;
  }

  html {
      display: table;
      margin: auto;
  }

  body {
      display: table-cell;
      vertical-align: middle;
      background-color: gray;
  }
  </style>
</head>
<body>
<div>
  {{if .City}}
  <table>
  <tr>
  <td>
  <h1>The capital of {{.Country}} is {{.City}}   <img style="background:white;margin:10px" width="110" height="80" src="{{.Flag}}" alt="No flag known." /></h1>
  {{else}}
  <h1>I don't know {{.Country}}'s capital!</h1>
  {{end}}
  </td>
  </tr>
  <tr>
  <td>
    <form method="POST" action="/">
           <div class="ui-widget">
             <label for="countries">Country Name</label>
             <input name="name" id="countries" autofocus>
             <label for="capitals">Capital Name</label>
             <input name="city" id="capitals">
             <input type="submit" value="submit" />
           </div>
    </form>
  </td>
  </tr>
  <tr>
  <td>
      <iframe width="900px" height="850px" id="gmap_canvas" src="https://maps.google.com/maps?q={{.City}}&t=&z=7&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
  </td>
  <tr>
  </table>
  </table>
</div>
</body>
</html>
